<div class="container row">
  <div class="col-md-12">
      <h2>Upload SOW File</h2>
  </div>
</div>
<br>
<!-- <div class="container row">
   <div class="col-md-3" >
      <input type="file" (change)="onFileChanged($event)">
  </div>
  <div class="col-md-3">
      <input type="button" (click)="onUpload()" value="upload" class="btn btn-primary btn-sm float-left">
  </div>
</div> -->


<form style="padding-left: 2%;">
  <div class="custom-file" style="width:20%;">
    <input type="file" class="custom-file-input" id="customFile" (change)="onFileChanged($event)">
    <label class="custom-file-label" for="customFile">Choose file</label>
  </div>
  <div style="display: inline-flex; padding-left: 2.5%;"> <!-- class="col-md-6"  -->
      <input type="button" (click)="onUpload()" value="upload" class="btn btn-primary float-left">
  </div>
</form>
<hr />

<div class="container row">
  <div class="col-md-12">
      <div *ngIf=message>{{message}}</div>
  </div>
</div>


<!-- <form class="md-form">
  <div class="file-field">
    <div class="btn btn-primary btn-sm float-left">
      <span>Choose file</span>
      <input type="file">
    </div>
    <div class="file-path-wrapper">
      <input class="file-path validate" type="text" placeholder="Upload your file">
    </div>
  </div>
</form> -->

<!-- <div class="container row">
  <div class="col-md-6">
      <input type="text" class="form-control" id="name" placeholder="File Name" [(ngModel)]="imageName"
          name="name" />
  </div>
  <div class="col-md-6">
      <input type="button" (click)="getImage()" value="Get Data">
  </div>
</div>

<div class="container row">
  <div class="col-md-12">
      <div *ngIf=retrievedImage>
          <img [src]="retrievedImage">
      </div>
  </div>
</div> -->
