<head>
  <link rel="stylesheet" href="https://unpkg.com/@ag-grid-community/all-modules@23.0.0/dist/styles/ag-grid.css" />
  <link rel="stylesheet" href="https://unpkg.com/@ag-grid-community/all-modules@23.0.0/dist/styles/ag-theme-alpine.css" />
</head>
<br>
<div class="ag-theme-alpine" style="padding-left:2%;">
  <ag-grid-angular
      style="width: 95%; height: 500px;"
      [columnDefs]="columnDefs"
      [stopEditingWhenGridLosesFocus]="true"
      [suppressColumnVirtualisation]="true"
      [enableCellChangeFlash]="true"
      [frameworkComponents]="frameworkComponents"
      [defaultColDef]="defaultColDef"
      (gridReady)="OnGridReady($event)"
      (cellValueChanged)="OnCellValueChanged($event)"
      >
  </ag-grid-angular>
</div>
<span style="padding-left:2%; font-size: 12px; font-style: italic;">Please double click on a cell to make it editable. Only one row can be updated at a time.</span>
<div style="padding-right: 5%; padding-top: 1%;">
  <button type="button" name="button" class="btn btn-primary btn-sm float-right" (click)="OnSaveChanges()" [disabled]="saveData">Save changes</button>
  <button type="button" name="button" class="btn btn-primary btn-sm float-right" style="margin-right: 1%;">Upload Data</button>
</div>
<!-- [editType]="editType"
(rowDoubleClicked)="OnRowDoubleClicked($event)"
(rowValueChanged)="OnRowValueChanged($event)"
(rowEditingStopped)="OnRowEditingStopped($event)"-->
